@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Serif+Hentaigana:wght@200..900&family=Poiret+One&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@font-face {
  font-family: dreamAvenue;
  src: url("./assets//fonts/FontsFree-Net-Dream-Avenue.ttf")
}
@import "tailwindcss";

@layer base {
  body {
    @apply bg-purple
  }
}

@theme {
  --font-round: "Poiret One", "serif";
  --font-body: "Figtree", "serif";
  --font-dream: "dreamAvenue", "serif";

  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1300px;

  --color-light: rgb(240,208, 195);
  --color-dark: rgb(160, 25, 25);
  --color-lightGray: rgb(194, 203, 209);
  --color-gray: rgb(174, 180,188);
  --color-grayBlue:rgb(77, 81, 103);
  --color-purple:rgb(104, 109, 137);
  --color-lightPurple: rgb(165, 169, 190);
  --color-dark-blue: rgb(2, 2, 21);
  --color-warm-white: rgb(253, 251, 250);
  --color-dark-purple: rgb(65, 39, 132);
  --color-red: rgb(190, 39, 39);
  --color-light-purple: rgb(101, 101, 180);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-longFadeIn: fadeIn 3s ease-in both;
  --animate-mediumFadeIn: fadeIn 1.5s ease-in both;
  --animate-fadeIn: fadeIn 1s ease-in both;
  --animate-spin: spin 5s ease-in infinite;



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

}

